<h1>{fullName} welcome to Project Manager</h2>

<div>
    For complete registration and activate Your account please go to next url:
    <a href="{url}">Account activation</a> <br/>
    
    or copy this url and paste it in Your browser: {url} <br>
    <br>
    Thank You!
</div>
